# Dependencies
node_modules/

# Database files
*.db
*.db-shm
*.db-wal

# Environment variables
.env
.env.local

# Uploads (keep folder structure)
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Vercel
.vercel
